<% if (currentUser) { %>
  <form method="post">
    <div class="row justify-content-md-center mt-3">
      <div class="col-md-auto w-50">
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
          placeholder="Create new todo"
        />
      </div>
      <div class="col-md-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
  <% if (todos) { %> <% todos.forEach(function(todo){ %>
  <div class="row">
    <form class="col-11 mt-3">
      <div>
        <div class="list-group">
          <label class="list-group-item">
            <input id=<%= todo.id %> class="form-check-input me-1 check_click" type="checkbox" value="" <%-
            todo.completed === true ? 'checked' : '' %> /> <% if (todo.completed ===
            true) { %>
            <del><%= todo.description %></del>
            <% } else{ %> <%- todo.description %> <%} %>
          </label>
        </div>
      </div>
    </form>
    <form class="col mt-3">
      <div>
        <button type="button" type="submit" class="btn btn-labeled btn-danger del_btn" id=<%= todo.id %>>
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </form>
  </div>
  <% }); %> <% } %> <% } %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $('.del_btn').click(function(e) {
      e.preventDefault();
      var id = $(this).attr('id');
      $.ajax({
              type: 'DELETE',
              url: '/',
              data: {id: id},
              dataType:'json',
          }).done(function(res){
            if (res.success) {
              window.location.reload();
          } else {
              console.log('error');
              }
          })
    });
  
    $('.check_click').click(function(e) {
      e.preventDefault();
      var id = $(this).attr('id');
      $.ajax({
              type: 'PUT',
              url: '/',
              data: {id: id},
              dataType:'json',
          }).done(function(res){
            if (res.success) {
              window.location.reload();
          } else {
              console.log('error');
              }
          })
    });
  </script>