<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <% conferences.forEach(function(conference, index){ %>
    <button style="width: 300px; height: 100px;" class="nav-link <%= index == 0 ? 'active' : '' %>" id="v-pills-<%= index %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= index %>" type="button" role="tab" aria-controls="v-pills-<%= conference.name %>" aria-selected="<%= index == 0 ? 'true' : 'false' %>"><%= conference.name %></button>
  <% }); %>
  </div>
  <div class="tab-content container" id="v-pills-tabContent">
    <% conferences.forEach(function(conference, index){ %>
      <div class="tab-pane fade show <%= index == 0 ? 'active' : '' %>" id="v-pills-<%= index %>" role="tabpanel" aria-labelledby="v-pills-<%= index %>-tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class='text-center' scope="col">STT</th>
              <th class='text-center' scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th class='text-center' scope="col">Attend</th>
            </tr>
          </thead>
          <tbody>
            <% conference.Users.forEach(function(user, index){ %>
              <tr>
                <th class='text-center align-middle'><%= index + 1 %></th>
                <td class='text-center align-middle'><img src="/assets/images/<%- user.avatar%>" style="object-fit: cover" height=80 width=80></img></td>
                <td class="align-middle"><%= user.displayName %></td>
                <td class="align-middle"><%= user.phone %></td>
                <td class="align-middle"><%= user.email %></td>
                <td class="align-middle text-center"><%= user.attend %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% }); %>
  </div>
</div>